extends ../layouts/layout

block content
	section
		.grid-container
			.grid-x.grid-margin-x.grid-padding-y
				h1 Sarah Anderson: Front-End Web Developer
			.grid-x.grid-margin-x.grid-padding-y
				.cell.large-6
					ul.about-me-bullets
						li Sarah has lived in Denver since 2000
						li Reading, traveling and being with her husband and animals are some of her favorite things
						li Her passion for web development started with troubleshooting as an email developer and having to determine why things did or did not work as expected
						li She feels that the Chicago Cubs made some poor decisions during the 2021 trades, but is still a fan
				.cell.large-6
					img.centered-image(src='images/christmas19.png')
