extends ../layouts/layout

block content
	section
		.grid-container
			.grid-x.grid-margin-x.grid-padding-y
				h1 Sarah Anderson Quiz
				.cell#question
					h2 I have NOT:
				.cell
					button#answer1 Been to all seven continents
				.cell
					button#answer2 Flown a helicopter
				.cell
					button#answer3 Been to a state fair
				.cell#message
